{{ define "base_layout.start" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/styles.css" />
        {{ template "header" . }}
    </head>

    <body>
{{ end }} 
        
{{ define "base_layout.end" }}
    </body>
</html>
{{ end }} 


{{ define "auth_layout.start" }} 
{{ template "base_layout.start" . }}

<section id="auth_section">
    <div class="auth_card">
{{ end }} 

{{ define "auth_layout.end" }}
    </div>
</section>
{{ template "base_layout.end" . }} {{ end }}
