{{ define "header" }}
<title>Login</title>
{{ end }} {{ template "auth_layout.start" . }}
<form>
    <h4>Login</h4>

    <div class="auth_fields">
        <fieldset>
            <label for="email">Email</label>
            <input name="email" type="email" required />
            <span class="input_error"
                >Please provide a valid email address</span
            >
        </fieldset>

        <fieldset>
            <label for="password">Password</label>
            <input name="password" type="password" required min="8" />
        </fieldset>
    </div>

    <div class="auth_actions">
        <label>
            <input type="checkbox" name="rememberMe" />
            Remember me
        </label>

        <a href="/forgot-password">Forgot Password</a>
    </div>

    <button class="submit w-full">Submit</button>
</form>

{{ template "auth_layout.end" . }}
